@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------- style ------- */
body {
  background: #252525;
  font: 16px/1.5 "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.inner {
  width: 710px;
  margin: 0 auto;
  position: relative; }

a {
  color: #0090ff;
  text-decoration: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease; }

/*------- header ------- */
#header_wrap {
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121); }

h1 {
  font-size: 33px;
  padding: 80px 0 10px;
  color: #f2f2f2;
  font-weight: 700;
  font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif; }

#tagline {
  color: white;
  font-size: 24px;
  font-weight: 300;
  text-align: justify;
  padding-bottom: 30px;
  text-shadow: #111111 0px 0px 10px; }
  #tagline a:hover {
    color: #43adff;
    text-shadow: #0090ff 0px 0px 2px; }

.button {
  display: block;
  position: absolute;
  top: 0;
  padding: 10px 50px 10px 10px;
  color: white;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 2px 2px;
  z-index: 10; }

#tweet {
  right: 195px;
  background: url("../images/twitter.png") #0090ff no-repeat 95% 50%; }

#fork {
  right: 10px;
  background: url("../images/blacktocat.png") #0090ff no-repeat 95% 50%; }

/*------- wrap ------- */
#wrap {
  width: 100%;
  background: #f2f2f2;
  padding-bottom: 50px; }

#controller input {
  font-family: "Droid Sans Mono", sans-serif;
  width: 700px;
  height: 34px;
  margin: 50px 0 30px;
  padding-left: 10px;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  color: white;
  background: #353535; }
#controller nav a {
  display: inline-block;
  width: 155px;
  padding: 7px 0 7px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
  background: #353535;
  border-radius: 2px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  transition: background 0.3s linear; }
  #controller nav a:nth-child(4n) {
    margin-right: 0; }
  #controller nav a:hover {
    background: #0090ff; }

#container {
  color: #252525;
  line-height: 28px;
  margin-bottom: 50px;
  font-family: "Droid Sans Mono", sans-serif; }
  #container h2 {
    font-size: 24px;
    padding: 50px 0 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px dashed #cccccc; }
  #container hr {
    height: 1px;
    border: 0; }
  #container p:before {
    content: "\00a0\00a0"; }
  #container .diff:before {
    content: "*\00a0"; }
  #container .new:before {
    content: "+\00a0"; }
  #container p:hover {
    color: #0090ff; }
  #container b {
    display: inline-block;
    width: 120px; }
  #container i {
    float: right; }
  #container .special {
    overflow: hidden; }
  #container .special:before {
    float: left; }
  #container .special b {
    float: left; }
  #container .special span {
    width: 570px;
    display: block;
    float: right;
    word-wrap: break-word; }

#note {
  line-height: 20px;
  margin: 0 auto;
  padding: 10px;
  border: 1px dashed #111111;
  border-radius: 5px; }
  #note p {
    margin-bottom: 10px; }

#top {
  position: fixed;
  background: #252525;
  padding: 0 10px;
  border-radius: 3px;
  bottom: 10px;
  left: 50%;
  margin-left: 400px; }
  #top:hover {
    color: #43adff;
    text-shadow: #0090ff 0px 0px 2px; }

/*------- footer ------- */
footer {
  padding: 20px 0;
  line-height: 40px;
  color: white; }
  footer a:hover {
    color: #43adff;
    text-shadow: #0090ff 0px 0px 2px; }
  footer #trigger:hover .hide {
    visibility: visible; }
  footer .hide {
    padding-left: 10px;
    visibility: hidden; }
